/* example styles for validation form demo */
.fieldgroup label {
    float: left;
    padding: 5px 0 0;
    text-align: right;
}

.fieldgroup input,.fieldgroup textarea,.fieldgroup select {
    float: right;
    margin: 5px 0;
    height: 25px;
}

.submit {
    padding: 10px;
    width: 150px;
    height: 40px !important;
}

.fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}