<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Basic page needs-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--Mobile specific metas-->			
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bangladesh News Portal</title>
        <!--Favicon-->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <!--Fonts-->		
        <link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <!--Fonts awesome icon-->	
        <link rel="stylesheet" href="css/font-awesome-4.3.0/css/font-awesome.min.css"/>
        <!--fonts material icon-->
        <link rel="stylesheet" href="css/material-design-iconic-font/css/material-design-iconic-font.css"/>
        <!--Bootstrap CSS--> 
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!--style CSS--> 
        <link  rel="stylesheet" href="css/style.css" type="text/css">
        <!--btn CSS--> 
        <!--<link href="css/btn_style.css" rel="stylesheet">-->
        <!--slicknav CSS--> 
        <link href="css/slicknav.css" rel="stylesheet">
        <!--nornalize CSS--> 
        <link href="css/normalize.css" rel="stylesheet">
        <!--social kit CSS--> 
        <link href="css/social-share-kit.css" rel="stylesheet">
        <!--social kit CSS--> 
        <link href="css/jquery.bxslider.css" rel="stylesheet">
        <!--nornalize CSS--> 
        <link href="css/owl.carousel.css" rel="stylesheet">
        <!--social kit CSS--> 
        <link href="css/owl.theme.css" rel="stylesheet">
        <!--responsive CSS--> 
        <link href="css/responsive.css" rel="stylesheet">

    </head>
    <body>

        <!--header start-->
        <section class="clearfix">
            <div class="container">
                <div  class="container-fulid">
                    <div class="col-md-3 col-sm-3" >
                        <div class="header-logo">
                            <a href="index.blade.php"><img src="image/logo_header.png" class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="cl-md-9">
                        <div class="header-add-section">
                            <article class="pull-right">
                                <!--<img src="image/add/banner_03.jpg" class="img-responsive">-->
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--header end--> 

        <!--main menu start--> 
        <section id="header" class="hidden-xs m-top menu-box clearfix" >
            <div class="container">
                <div class="row">
                    <div class=" main-menu2  ">
                        <div class="col-md-12 col-sm-12 " >
                            <ul id="menu-li">
                                <li><a href="index.blade.php"> হোম</a></li>
                                <li><a href="#">জাতীয়</a> </li>
                                <li><a href="#">আন্তর্জাতিক </a></li>
                                <li><a href="#">খেলা </a></li>
                                <li><a href="#">বিনোদন </a></li>
                                <li><a href="#">চাকুরী </a></li>
                                <li><a href="#">প্রযুক্তি </a></li>
                                <li><a href="#">অর্থনীতি</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid hidden-xs main-menu-under" id="menu-box">
                <div class="row">
                    <div class=" main-menu2  ">
                        <div class="col-md-12 col-sm-12 " >
                            <ul id="menu-li">
                                <li><a href="#">সম্পর্কের গল্প </a></li>
                                <li><a href="#">ভিন্নধমী সংবাদ</a></li>
                                <li><a href="#">পারিবারিক সম্পর্ক</a></li>
                                <li><a href="#">শেখা </a></li>
                                <li><a href="#">পেশীয় </a></li>
                                <li><a href="#">ক্যারিয়ার</a></li>
                                <li><a href="#">ভ্রমনের </a></li>
                                <li><a href="#">ফ্যাশন </a></li>
                                <li><a href="#">সফলের কাহিনী </a></li>
                                <li><a href="#">একাডেমী </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="header" class="container-fluid bg-shadow intr">
                <div class="row-fluid">
                    <div class="brnews col-md-1 col-sm-8 col-xs-10">
                        <h3>Breaking News</h3>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="br-news-text">
                            <marquee direction="left" height="322" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                                <strong><a href="career.html"><i class="fa fa-location-arrow" aria-hidden="true"></i> ১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট ও তৎসংলগ্ন এলাকার ছেলেমেয়েদের ধর্মীয় শিক্ষার</a></strong>
                                <strong><a href="career.html">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট ও তৎসংলগ্ন এলাকার ছেলেমেয়েদের ধর্মীয় শিক্ষার</a></strong>
                                <strong><a href="career.html">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট ও তৎসংলগ্ন এলাকার ছেলেমেয়েদের ধর্মীয় শিক্ষার</a></strong>
                                <strong><a href="career.html">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট ও তৎসংলগ্ন এলাকার ছেলেমেয়েদের ধর্মীয় শিক্ষার</a></strong>
                            </marquee>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        <!--<!-menu main-under start-->


        <!--mobile-menu-->
        <section class=" hidden-md visible-xs main-menu5">
            <div class="col-md-12 col-sm-12 ">
                <div class=" ">
                    <ul class="menuzord-menu border-tb hidden-xs " id="menu-list5">
                        <li><a href="index.php" class="current">  হোম</a></li>
                        <li class=""><a href="Category.html">জাতীয়</a></li>
                        <li><a href="#">আন্তর্জাতিক<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">খেলা<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">বিনোদন<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">চাকুরী<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">প্রযুক্তি<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">সম্পর্কের গল্প<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">ভিন্নধমী সংবাদ<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">পারিবারিক সম্পর্ক<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">শেখা<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">পেশীয়<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">ক্যারিয়ার<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
                        <li><a href="#">ভ্রমনের<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">ফ্যাশন<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">সফলের কাহিনী<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                        <li><a href="#">একাডেমী<i class="fa fa-caret-down" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
            </div>
        </section>



        <section class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 gird-2 m-top ca-gird clearfix" >
                        <div class="col-md-12">
                            <ol class="breadcrumb catagory-breadcrumb bg-shadow">
                                <li><a href="#">হোম</a></li>
                                <li class="active">জাতীয়</li>
                            </ol>
                        </div>
                        <!-- left add section-->
                        <div id="home-middle">
                            <div class="col-md-12 m-top gird-2 clearfix">
                                <div class="col-md-6 ">
                                    <div class="left bg-shadow">
                                        <article class="catagory-section">
                                            <img src="image/content-image/national-1.jpg" class="img-responsives" alt="shutterstock_58382248" height="177" width="371">
                                            <div class="cata-page-content">
                                                <h4 class="catagory-title">
                                                    <a href="#" title="Permalink to Integer vitae libero ac risus egestas placerat urna" rel="bookmark">এক যুগে ২৭,২৬৫ অভিবাসী শ্রমিকের মৃত্যু...</a>
                                                </h4>
                                            </div>
                                        </article>
                                        <!--<hr style="margin-top: 10px;">-->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="left bg-shadow">
                                        <article class="catagory-section">
                                            <img src="image/content-image/sumatra20160515050831.jpg" class="img-responsive" alt="">
                                            <div class="cata-page-content">
                                                <h4 class="catagory-title">
                                                    <a href="#">সুমাত্রায় ৫.৬ মাত্রার ভূমিকম্প...</a>
                                                </h4>
                                            </div>
                                        </article>
                                        <!--<hr style="margin-top: 10px;">-->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!--main-category-section-->
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section>
            <div class="container">
                <div class="row">
                    <div id="home-middle">
                        <div class="col-md-6 col-sm-12 m-top clearfix">
                            <div class="  clearfix mo-en-sp cata-ho bg-shadow">
                                <h3 class="populer-news-text-section" style=" width: 50px;">
                                    <a href="#" title="Game News"><span>আন্তর্জাতিক</span></a>
                                </h3>
                                <hr class="cata-title-border">
                                <div class="col-md-6 col-sm-12  gird-2 ">
                                    <div class="left ">
                                        <article class="catagory-section ca-pg-img">
                                            <img src="image/content-image/Entertainment-1.jpg" class="img-responsive" alt="">
                                            <div class="cata-content">
                                                <h4 class="catagory-title1 cata-content-right h-ca">
                                                    <a href="#">স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা...</a>
                                                </h4>
                                            </div>
                                        </article>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12  gird-2">
                                    <div class="news-wrapper right-content  bg-shadow" style="height: 262px;">
                                        <ul id="international-h">
                                            <li>
                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content cata-content-right">
                                                        <h4 class="media-heading cata-list-right" ><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>
                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>
                                                    </div>
                                                </div> 
                                            </li>

                                        </ul>
                                    </div>
                                    <div id="news-navigation">
                                        <a href="#" id="news-next-international" class="bg-shadow"><i class="fa fa-chevron-up"></i></a>
                                        <a href="#" id="news-prev-international" class="bg-shadow"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                <!--end international-->
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 m-top clearfix">
                            <div class="  clearfix mo-en-sp cata-ho bg-shadow">
                                <h3 class="populer-news-text-section" style=" width: 50px;">
                                    <a href="#" title="Game News"><span>খেলা</span></a>
                                </h3>
                                <hr class="cata-title-border">
                                <div class="col-md-6 col-sm-12  gird-2 ">
                                    <div class="left ">
                                        <article class="catagory-section ca-pg-img">
                                            <img src="image/content-image/Entertainment-1.jpg" class="img-responsive" alt="">
                                            <div class="cata-content">
                                                <h4 class="catagory-title1 cata-content-right h-ca">
                                                    <a href="#">স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা...</a>
                                                </h4>

                                            </div>
                                        </article>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12  gird-2">
                                    <div class="news-wrapper right-content  bg-shadow" style="height: 262px;">
                                        <ul id="sport-h">
                                            <li>
                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content cata-content-right">
                                                        <h4 class="media-heading cata-list-right" ><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>
                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>
                                                    </div>
                                                </div> 
                                            </li>

                                        </ul>
                                    </div>
                                    <div id="news-navigation">
                                        <a href="#" id="news-next-sport" class="bg-shadow"><i class="fa fa-chevron-up"></i></a>
                                        <a href="#" id="news-prev-sport" class="bg-shadow"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end sport-->
                    </div>
                </div>
            </div>
        </section>
        <!--end international+sport-->
        <!--start entertainment+carrier-->
        <section>
            <div class="container">
                <div class="row">
                    <div id="home-middle">
                        <div class="col-md-6 col-sm-12 m-top clearfix">
                            <div class="  clearfix mo-en-sp cata-ho bg-shadow">
                                <h3 class="populer-news-text-section" style=" width: 50px;">
                                    <a href="#" title="Game News"><span>বিনোদন</span></a>
                                </h3>
                                <hr class="cata-title-border">
                                <div class="col-md-6 col-sm-12  gird-2 ">
                                    <div class="left ">
                                        <article class="catagory-section ca-pg-img">
                                            <img src="image/content-image/Entertainment-1.jpg" class="img-responsive" alt="">
                                            <div class="cata-content">
                                                <h4 class="catagory-title1 cata-content-right h-ca">
                                                    <a href="#">স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা...</a>
                                                </h4>

                                            </div>
                                        </article>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12  gird-2">
                                    <div class="news-wrapper right-content  bg-shadow" style="height: 262px;">
                                        <ul id="entertainment-h">
                                            <li>
                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content cata-content-right">
                                                        <h4 class="media-heading cata-list-right" ><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>

                                        </ul>
                                    </div>

                                    <div id="news-navigation">
                                        <a href="#" id="news-next-entertainment" class="bg-shadow"><i class="fa fa-chevron-up"></i></a>
                                        <a href="#" id="news-prev-entertainment" class="bg-shadow"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                <!--end entertainment-->

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 m-top clearfix">
                            <div class="  clearfix mo-en-sp cata-ho bg-shadow">
                                <h3 class="populer-news-text-section" style=" width: 50px;">
                                    <a href="#" title="Game News"><span>ক্যারিয়ার</span></a>
                                </h3>
                                <hr class="cata-title-border">
                                <div class="col-md-6 col-sm-12  gird-2 ">
                                    <div class="left ">
                                        <article class="catagory-section ca-pg-img">
                                            <img src="image/content-image/Entertainment-1.jpg" class="img-responsive" alt="">
                                            <div class="cata-content">
                                                <h4 class="catagory-title1 cata-content-right h-ca">
                                                    <a href="#">স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা স্প্যানিশ চ্যাম্পিয়ন বার্সেলোনা...</a>
                                                </h4>

                                            </div>
                                        </article>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12  gird-2">
                                    <div class="news-wrapper right-content  bg-shadow" style="height: 262px;">
                                        <ul id="carrier-h">
                                            <li>
                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content cata-content-right">
                                                        <h4 class="media-heading cata-list-right" ><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>
                                            <li>

                                                <div class="media right-Selected-body">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="image/slider/small_image-2.jpg" alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body cata-content">
                                                        <h4 class="media-heading"><a href="#">১৯৫৮ সালের এক শুভলগ্নে আজিমপুর এস্টেট</a></h4>

                                                    </div>
                                                </div> 
                                            </li>

                                        </ul>
                                    </div>

                                    <div id="news-navigation">
                                        <a href="#" id="news-next-carrier" class="bg-shadow"><i class="fa fa-chevron-up"></i></a>
                                        <a href="#" id="news-prev-carrier" class="bg-shadow"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end carrer-->
                    </div>
                </div>
            </div>
        </section>


        <footer  class="footer m-top">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            সম্পাদক ও প্রকাশক: ফোকরুল ইসলাম 
                            সিএ ভবন, ১০০ কাজী নজরুল ইসলাম এভিনিউ, কারওয়ান বাজার, ঢাকা-১২১৫
                            ফোনঃ ৮১৮০০৭৮-৮১, ফ্যাক্সঃ ৯১৩০৪৯৬, ই-মেইলঃ info@newspaper.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="pull-left">Copyright 2016 @ by <a href="#" class="footer-list">News paper</a> | All Rights Reserved</span>
                        </div>
                        <div class="col-md-6">
                            <span class=" pull-right">Powered by <a href="http://www.belogin.com/" class="footer-list">Belogin</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Back To Top Button -->
        <div id="back-top">
            <a href="#slider_part" class="scroll" data-scroll>
                <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-up"></i></button>
            </a>
        </div>
        <!-- End Back To Top Button -->




        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!--style js-->
        <script src="js/style.js" type="text/javascript"></script>
        <!--catagory js-->
        <script src="js/catagory.js" type="text/javascript"></script>
        <!--slicknav js-->
        <script src="js/jquery.slicknav.min.js"></script>
        <!--slide js-->
        <script src="js/jssor.slider.js"></script>
        <!--social js-->
        <script src="js/social-share-kit.js"></script>
        <!--social js-->
        <script src="js/owl.carousel.js"></script>
        <!--social js-->
        <script src="js/jquery.bxslider.min.js"></script>
        <!--social js-->
        <script src="js/jquery.sliderPro.min.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <!--scroll up js-->
        <script type="text/javascript" src="js/jquery.scrollTo.js"></script>

    </body>
</html>
